header{
    background-color: rgba(15, 15, 15, 0.948);
    border: 1px solid #000000;
    border-radius: 0%;
}

.logo{
    width: 10%;
    position: relative;
    left: 15%;
}

nav{
    position: absolute;
    top: 5%;
    right: 30%;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: capitalize;
    color: white;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #949904;
    text-decoration: underline;
}

main{
    background-color: white;
}

#servicios{
    padding: 50px;
}

.titulo-servicios{
    text-align: center;
    font-weight: bold;
    font-size: 200%;
}

.lista-servicios{
    width: 940px;
    margin: 0 auto;
    padding: 10px;
}

.lista-servicios a{
    color: black;
    text-decoration: none;
}

.lista-servicios h2{
    font-size: 30px;
    font-weight: bold;
}

.lista-servicios li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 1.5% 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}


.lista-servicios li:hover{
    border-color: #949904;
}

.lista-servicios li:active{
    border-color: #08368c;
}

.lista-servicios li:hover h2{
    font-size: 33px;
}

.img-servicios{
    width: 60%;
}

#horario{
    padding: 50px;
    color: black;
    border-radius: 25%;
    transition: background-color 3s;
}

#horario:hover {
    background-color: #94949238;
}

.titulo-horario{
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    padding-bottom: 2%;
}

table{
    text-align: center;
    margin: 40px 40px;
    width: 100%;
    position: relative;
    right: 2%;
}

thead{
    background: #d5fa03;
    color: black;
}

td, th{
    border: 1px solid #07133d;
    padding: 15px;
}

#ubicacion{
    padding: 25px;
    border-radius: 25%;
    transition: background-color 3s;
}

#ubicacion:hover{
    background-color: #94949238;
}

.titulo-ubicacion{
    margin: 0 0 0;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
    font-size: 25px;
}

.mapa{
    padding: 3em 0;
}

footer{
    padding: 25px;
    background-color: black;
    color: white;
    text-align: center;
}

.logo-footer{
    width: 10%;
    position: relative;
    padding: 1.5%;
}

.form{
    background: #f5f6fa; 
    width: 70%;
    margin: 30px auto;
    padding: 20px;
    line-height: 1.5;
    color: #0e1d34;
}

form label, form legend{
    display: block; /*ocupe solo lo requerido*/
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{ /*estilos del input campo de texto*/
    display: block; /*ocupe solo lo requerido*/
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 40%;
    border: 1px solid #0e1d34;
}

.checkbox{
    margin: 20px 0; /*espaciado = vertical y abajo, horizontal y arriba*/
}

.enviar{
    margin: 5%;
    width: 20%;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: #0e1d34;
    border: none;
    border-radius: 5px;
    transition: 1s all; /*transicion de un segundo para el boton en general*/
    cursor: pointer; /*cursor de la manito*/
}

.enviar:hover{ /*movim del mouse*/
    background-color: #001f8d;
    transform: scale(1.2); /*al movim del mouse agranda el boton*/
}